/* layout header-main-footer */

*{
    margin: 0;
    padding: 0;
}

:root{

    --main-color     : orange ;
    --radius-card    : 15px;
    --banner-home    : 7em;
}


body{
    display: grid;
    grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer" ;
    height: 100vh;
    
}


header{
    grid-area: header;
    background: var(--main-color);
    height: var(--banner-home);
    border-radius: 0 0  var(--radius-card) var(--radius-card);
}

main{
    grid-area: main;
    background: white;



}

footer{
    display: grid;
    grid-area:footer;
    background:var(--main-color);
    height: var(--banner-home);
    border-radius: var(--radius-card) var(--radius-card) 0 0;
    
    
}

/* items position */

    /* header */

.header-logo{
    display: grid;
    height: inherit;
}

.header-logo a{
    justify-self: center;
    align-self: center;
}

    /* main logo */

.LogoHome{
    display: grid;
}

.LogoHome img{
    justify-self: center;
}

    /* main links */

.mainsection{

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-end: 2;


}

.buttons{
    display: grid;
}

.buttons ul {
    display: inline-grid;
    list-style-type: none;
    padding-left: 0;
    justify-items: center;
    grid-gap: 1em;
    font-size: 2rem;
    padding-bottom: 20px;

}
    /* footer */

.footer{
    align-self: end;
}
.social-networks{

    display: grid;
    grid-template-columns: 1fr 1fr;
    height: inherit;
    align-self: end;
}

.social-networks a{

    align-self: center;
}

.social-networks a:nth-child(1){

    justify-self:end;

}

/* buttons/image */

    /* buttons */

.buttons li a{

    border-radius : var(--radius-card);
    padding : 5px ;
    text-decoration : none;
    background-color : var(--main-color);
    color : black;
}

.buttons li a:hover{
    color: white;
}

    /* logo header */

.LogoHome2 a{

    display: grid;
    
    margin: 10px 10px;
}

.LogoHome2 a img{

    justify-self: center;
    align-self: center;
    border-radius: 100px;
    width : 80px ;
    height : 80px ;
    
}

    /* logo main */

.LogoHome img{

        border-radius: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width : 250px ;
        height : 250px ;
        margin-bottom: 25px;
        margin-top: 30px;
}

/* products grid */

.MCards{

    display: inline-grid;
    border-radius: var(--radius-card);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 450px;
    height: 530px;
    margin: 10px;
    text-align: center;


}

.img{
    border-radius: var(--radius-card) var(--radius-card) 0 0;
    width: 100%;
    height: 350px;


}

.description{
    display:grid;
    
}

.description h2{
    margin: 10px 5px;
}

.description p{
    margin: 10px 5px;
    font-size: 1rem;
    padding: 2px;
    text-align: left;   
}



.BuyB{

    border: none;
    border-radius : var(--radius-card);
    background-color : var(--main-color);
    margin-left: auto;
    margin-right: 20px;
    padding: 10px;
    font-size: 1rem;
}

.BuyB:hover {

    background: white;
}

.BuyB a{

    list-style-type: none;
    text-decoration : none;
    color: black;
}



/* form */

.form-wrapper{

    padding: 10px;
}

.form{
    display: inline-block;
    margin: 20px auto 50px 20px;
    font-size: 20px;

}

.contact-button{

    border: none;
    border-radius : var(--radius-card);
    background-color : var(--main-color);
    margin-left: 5px;
    margin-right: auto;
    padding: 5px;
    color: black;
    font-size: 20px;
}

.contact-button:hover{
    color: white;
}

